@using System.Runtime.InteropServices.ComTypes
@using BlazorNews.Client.Repositories
@page "/counter"
@inject Repositories.TopicsRepository TopicsRepo

<ul>
	@foreach (var topic in topics) {
		<li>
			@topic			
			<button type="button" class="btn btn-danger btn-sm" onclick="@(() => RemoveTopic(topic))">Delete</button>
		</li>
	}
</ul>

<div class="input-group-append">
	<input type="text" bind="newTopic" />
	<button type="button" class="btn btn-primary" onclick="@AddTopic">Add</button>
</div>


@functions {
	IEnumerable<string> topics = new string[0];
	string newTopic;

	public void AddTopic() {
		TopicsRepo.AddTopic(newTopic);
		newTopic = "";
	}

	public void RemoveTopic(string topic) {
		TopicsRepo.RemoveTopic(topic);
	}

	protected override void OnInit() {
		topics = TopicsRepo.GetTopics();
	}
}
