@using BlazorNews.Client.Model
@page "/"
@inject HttpClient Http

@foreach (var article in articles) {
	 <div class="media">
		 <img class="mr-3" src="@article.UrlToImage" alt="Image">
		 <div class="media-body">
			 <h5 class="mt-0">@article.Title</h5>
			 @article.Description
		 </div>
	 </div>
}

@functions {

	Article[] articles = new Article[0];

	protected override async Task OnInitAsync() {

		var result = await Http.GetJsonAsync<NewsResponse>("https://newsapi.org/v2/everything?q=Blazor");
		articles = result?.Articles;

	}

}
