@page "/topics"
@inject Repositories.TopicsRepository TopicsRepo

<ul>
	@foreach (var topic in topics) {
		<li>
			@topic			
			<button type="button" class="btn btn-danger btn-sm" onclick="@(() => RemoveTopic(topic))">Delete</button>
		</li>
	}
</ul>

<div class="input-group-append">
	<input type="text" bind="newTopic" />
	<button type="button" class="btn btn-primary" onclick="@AddTopic">Add</button>
</div>


@functions {
	List<string> topics = new List<string>();
	string newTopic;

	public async Task AddTopic() {
		if (string.IsNullOrEmpty(newTopic))
			return;
		topics.Add(newTopic);
		await TopicsRepo.AddTopicAsync(newTopic);
		newTopic = "";
	}

	public async Task RemoveTopic(string topic) {
		await TopicsRepo.RemoveTopicAsync(topic);
		topics.Remove(topic);
	}

	protected override async Task OnInitAsync() {
		topics = (await TopicsRepo.GetTopicsAsync()).ToList();
	}
}
